<!-- Sidebar -->
<div id="sidebar-wrapper" class="bg-light border-right" style="float:left">
    <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
    <!-- Bootstrap List Group -->
    <div class="container-fluid">
        <a class="nav-link bg-light  'bg-dark text-white':'text-dark'%>"
            href="/projects/overview" class="list-group-item list-group-item-action ">
            Overview
          </a>
            <a class="nav-link bg-light 'bg-dark text-white':'text-dark'%>" 
            href="/projects/activity" class="list-group-item list-group-item-action ">
            Activity </a>
            <a class="nav-link bg-light  'bg-dark text-white':'text-dark'%>"
            href="/members">Members </a> 
            <a class="nav-link bg-light  'bg-dark text-white':'text-dark'%>"
             href="/issues/issues">Issues</a>
            <!-- List Group END-->
    </div>
</div><!-- sidebar-container END -->