<% include ../partialsdetail/headers.ejs %>

<!-- Bootstrap row -->
<div class="d-flex" id="wrapper">
    <% include ../partialsdetail/sidebar.ejs %>
    <!-- MAIN -->
    <div class="col p-4">
        <div class="container">
            <div class="container">
                <h2 style="margin-top: 1%">Activity</h2>
                <hr class="mt-1">
            </div>
            <div class="container-fluid">
                    <div class="container-fluid">
                        <h3 style="margin-top: 1%">Activity</h3>
                        <div class="card">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-md-8"> 

                                            <ul> <strong> </strong>
                                                
                                                <li>
                                                </li>
                                               
                                            </ul>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div> <!-- end main -->
    </div>   
</div>

