<% include ../partialsdetail/headers.ejs %>
<div class="mt-5">
  
    <body>
        <form action="/projects/add" method="POST">
          <div class="container" style="padding: 10px">
            <h1>Add Project</h1>
            <br />
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-8">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="Project Name"
                />
              </div>
            </div>      
              <fieldset class="form-group">
                <div class="form-group row">
                  <div class="col-sm-2">Members</div>
                  <div class="col-sm-10">
                    <% for(let i = 0; i < data.length; i++){ %>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="member" id="gridCheck1" value="'<%= data[i].role %>', <%= data[i].userid %>" >
                          <label class="form-check-label" for="gridCheck1">
                            <%= data[i].firstname%> <%= data[i].lastname%>
                          </label>
                      </div>
                      <% } %>
                  </div>
              </div>
              </fieldset>
      
              <button
                type="submit"
                class="btn btn-primary"
                style="border-radius: 20px; margin-bottom: 20px;"
              >
                Save
              </button>
            </form>
          </div>
        </form>
  


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    
  </body>
</html>