<% include ../partialsdetail/headers.ejs %>
<!-- Bootstrap row -->
<div class="d-flex" id="wrapper">
    <% include ../partialsdetail/sidebar.ejs %>
    <!-- MAIN -->
    <div class="col p-4">
        <div class="container">
            <div class="container">
                <h2 style="margin-top: 1%">Overview</h2>
                <hr class="mt-1">
            </div>
            <div class="container-fluid mr-5">
                <h3 style="margin-top: 1%">Library System</h3>
                <div class="card col-ml-5">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-10 col-ml-5"> Issues Tracker
                                    <ul>
                                        
                                            <li class="mr-5">EXAMPLE</li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-5">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-8"> Members
                                    <ul>
                                        
                                            <li>EXAMPLE</li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

            